.main_body {
  
  height: 720px;
  
  
}
.links {
 
  height: 670px;
 
  
}


table {
  border-collapse: collapse;
}

td,th {
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 4px;
}

.news1 {
  font-weight: bold;
  margin-top: 20px;
  color: #BC243C
}