body {
  font-family: "Montserrat", sans-serif;
}
.schl_heading {
  background: #39639b;
  height: 100px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.schl_heading h1 {
  /* padding-left: 100px; */
  color: white;
  padding-top: 10px;
}

.main_body {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.links {
  background: #323232;
  margin-top: 100px;
  height: 571px;
  width: 15%;
  display: inline-block;

  padding-bottom: 50px;
}

.links ul {
  padding-top: 100px;
  padding-bottom: 50px;
}
.links li {
  color: black;

  list-style: none;
}
.links a {
  color: #ffffff;
  text-decoration: none;
}
a:hover,
a:active {
  color: #0080ff;
}
.content {
  position: absolute;
  background: cornsilk;
  height: 100%;
  width: 85%;
  display: inline-block;
  
}
.content h2 {
  margin-top: 100px;
  padding-top: 20px;
  margin-left: 500px;
}

.teachers h3 {
  margin-left: 470px;
}

.teachers ol {
  text-align: justify;
  margin-left: 395px;
  display: inline-block;
}

.teachers ul {
  text-align: justify;
  display: inline-block;
}
.student_info {
  margin-left: 295px;
}
table {
  width: 50%;
}

.news1 {
  font-weight: bold;
  margin-top: 50px;
  color: #bc243c;
}
.news2 {
  font-weight: bold;
  color: #6b5b95;
}
